.ui-container{
    margin-top: .5rem;
    margin-left: 1rem;
    width:368px;
    padding: 1rem 2rem 2rem 2rem;
    background-color: #FFF;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
    
}

.ui-container > h2 {
    color: black;
    font-size: 2rem;
}

.ui-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.ui-form > input[type="text"] {
    height: 50px;
    border-radius: 8px;
    border:0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(229, 231, 235, 0.8);
    margin-bottom: 1.5rem;;
    width: 100%;
}

.ui-form > input[type="text"]:hover {
    border:1px solid rgba(229, 231, 235, 1);
}

.ui-form > input[type="file"] {
    margin-bottom: 1rem;
    padding: 1rem;
}